src/main/liberty/config/server.xml

/src/main/resources/*
!/src/main/resources/*.template.properties

.DS_Store

# Eclipse
.settings/
.project
.classpath

# Compiled class file
*.class

# Log file
*.log

# Maven file
*.lst

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Target Maven
target/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
